* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  color: lightgrey;
}

div.grid-item {
  width: 35px;
  height: 35px;
  border: 1px solid white;
}

div.grid-item.wall{
  border-radius: 5px;
}

div.grid-item.wall {
  background-color: #a700c7;
  color: #a700c7;
}
div.grid-item.prison {
  background-color: #222222;
  color: #555555;
}
div.grid-item.pinky {
  background-image: url('../assets/pinky-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
}
div.grid-item.binky {
  background-image: url('../assets/pinky-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.pacman {
  background-image: url('../assets/pacman-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
}
div.grid-item.pacman.right {
  animation: 0.5s slideRight;
}
div.grid-item.pacman.down {
  transform: rotate(90deg);
  animation: 0.5s slideDown;
}
div.grid-item.pacman.left {
  transform: rotate(180deg);
  animation: 0.5s slideLeft;
}
div.grid-item.pacman.up {
  transform: rotate(270deg);
  animation: 0.5s slideUp;
}
@keyframes slideRight {
  from { transform: translateX(-34px) rotate(0deg); }
  to   { transform: translateX(0) rotate(0deg); }
}
@keyframes slideDown {
  from { transform: translateY(-34px) rotate(90deg); }
  to   { transform: translateY(0) rotate(90deg); }
}
@keyframes slideLeft {
  from { transform: translateX(+34px) rotate(180deg); }
  to   { transform: translateX(0) rotate(180deg); }
}
@keyframes slideUp {
  from { transform: translateY(34px) rotate(270deg); }
  to   { transform: translateY(0) rotate(270deg); }
}
