* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  opacity: 0;
  background-image: url('../assets/bg2reduced.jpeg');

}

body.ready{
  opacity: 1;
  transition: all 1s;
}

header{
  width:540px;
  height: 165px;
  overflow-x: hidden;
  position: relative;
}
header p{
  position: relative;
  left:5px;
  top:10px;
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  font-style: italic;
  font-family: 'Kanit', sans-serif;
  text-shadow: 0 0 5px #ddd, 0 0 10px #ddd, 0 0 20px blue, 0 0 30px purple, 0 0 40px red, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
header h1{
  font-family: 'Kanit', sans-serif;
  font-size: 6em;
  line-height: 0.7;
  letter-spacing: -3px;
  text-transform: uppercase;
  padding:0;
  margin: 0;
  color: white;
  background: linear-gradient(to bottom, #0075d6 20%,#85b3bf 52%,#424242 54%,#424242 54%,#3d2c09 62%,#914f25 67%,#d337d1 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h2{
  position: relative;
  left:50%;
  top:-40%;
  font-family: 'Damion', cursive;
  margin: 0;
  color: pink;
  transform: perspective(350px) rotateY(40deg) rotate(-8deg);
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
}

header .pacman-title{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 20px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #ffd915;
  clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);
  animation: 8s linear titleMunch infinite;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

article.grid .message-overlay{
  position: absolute;
  line-height: 0.8;
  letter-spacing: -3px;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px #ddd, 0 0 10px #ddd, 0 0 20px blue, 0 0 30px purple;
}
article.grid .message-overlay .message{
  position: relative;
  z-index: 3;
  animation: 1s linear messageZoom;
  font-size: 10em;
}
article.grid .message-overlay .message.small{
  font-size: 1.3em;
  letter-spacing: 3px;
}

article.grid {
  position: relative;
  background-color: rgba(0,0,0,0.5);
  box-shadow: -5px -5px 10px white, 5px 5px 100px white ;
  width: 510px;
  max-width: 510px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
article.scoreboard {
  background-color: rgba(0,0,0,0.8);
  box-shadow: -5px -5px 100px white, 5px 5px 100px white ;
  height: 60px;
  width: 450px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  font-size: 2em;
}

article.scoreboard .score{
  background: linear-gradient(to bottom, #0075d6 20%, #85b3bf 48%, #3d2c09 53%, #914f25 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

article.scoreboard .lives{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid-item {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid-item.pill i, div.grid-item.big-pill i{
  font-size: 0.5em;
  color: white;
  position: absolute;
  z-index: 1;
}
div.grid-item.big-pill i{
  font-size: 1.3em;
  color: #00c7a7;
}

div.grid-item.pill.eaten i, div.grid-item.big-pill.eaten i {
  opacity: 0;
  transition: all 0.3s step-end;
}

div.grid-item.wall{
  border-radius: 0px;
  border: 2px solid blue;
  background-color: black;
}
div.grid-item.wall:before{
  content: '';
  width:100%;
  height:100%;
  box-shadow: 3px 3px 15px #a700c7, -3px 3px 15px blue, -3px -3px 15px red;
}

div.grid-item.prison {
  background-color: rgba(50,50,50,0.7);
  border:0;
}
div.grid-item.prison:before {
  box-shadow: none;
}

div.grid-item.binky:before, div.grid-item.pinky:before, div.grid-item.stinky:before, div.grid-item.clyde:before {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
div.grid-item.pinky:before {
  background-image: url('../assets/pinky.gif');
}
div.grid-item.binky:before {
  background-image: url('../assets/blinky.gif');
}
div.grid-item.stinky:before {
  background-image: url('../assets/inky.gif');
}
div.grid-item.clyde:before {
  background-image: url('../assets/clyde.gif');
}
div.grid-item.pinky.pinky-pilled:before,
div.grid-item.binky.binky-pilled:before,
div.grid-item.stinky.stinky-pilled:before,
div.grid-item.clyde.clyde-pilled:before {
  background-image: url('../assets/ghost-pilled.gif');
}
div.grid-item.pinky.pinky-pilled-ending:before,
div.grid-item.binky.binky-pilled-ending:before,
div.grid-item.stinky.stinky-pilled-ending:before,
div.grid-item.clyde.clyde-pilled-ending:before {
  background-image: url('../assets/ghost-pilled-ending.gif');
}
/* Makes sure we dont have a sprite overlap issue */
div.grid-item.pacman.pinky.pinky-pilled:before,
div.grid-item.pacman.binky.binky-pilled:before,
div.grid-item.pacman.stinky.stinky-pilled:before,
div.grid-item.pacman.clyde.clyde-pilled:before,
div.grid-item.pacman.pinky.pinky-pilled-ending:before,
div.grid-item.pacman.binky.binky-pilled-ending:before,
div.grid-item.pacman.stinky.stinky-pilled-ending:before,
div.grid-item.pacman.clyde.clyde-pilled-ending:before {
  display: none;
}

.binky-up:before, .pinky-up:before, .stinky-up:before, .clyde-up:before {
  animation: 0.5s linear ghostSlideUp;
}
.binky-down:before, .pinky-down:before, .stinky-down:before, .clyde-down:before {
  animation: 0.5s linear ghostSlideDown;
}
.binky-left:before, .pinky-left:before, .stinky-left:before, .clyde-left:before {
  animation: 0.5s linear ghostSlideLeft;
}
.binky-right:before, .pinky-right:before, .stinky-right:before, .clyde-right:before {
  animation: 0.5s linear ghostSlideRight;
}

.pacman:after{
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffd915;
  clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);
  z-index: 2;
}


div.grid-item.pacman-right:after {
  transform: rotate(0deg);
  animation: 0.5s linear slideRight;
}
div.grid-item.pacman-down:after {
  transform: rotate(90deg);
  animation: 0.5s linear slideDown;
}
div.grid-item.pacman-left:after {
  transform: rotate(180deg);
  animation: 0.5s linear slideLeft;
}
div.grid-item.pacman-up:after {
  transform: rotate(270deg);
  animation: 0.5s linear slideUp;
}
div.grid-item.pacman.dead:after {
  animation: 2s linear dead;
  background-color: rgba(255, 217, 21, 0);
  /* transition: background-color 1s step-end; */
}

article.d-pad{
  background-image: url('../assets/dpad.png');
  background-color: rgba(255,255,255,0.7);
  border-radius: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

article.d-pad div.d-pad-row{
  display: flex;
  justify-content: center;
}

div.d-pad-row div{
  width: 50px;
  height: 50px;
}

@keyframes messageZoom {
  0% {  transform: scale(0.01) rotate(0deg);}
  100%{ transform: scale(1) rotate(0deg);}
}
@keyframes titleMunch {
  40% {  clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  60%{ clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideRight {
  0% {  transform: translateX(-100%) rotate(0deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateX(0) rotate(0deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideDown {
  0% {  transform: translateY(-100%) rotate(90deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateY(0) rotate(90deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideLeft {
  0% {  transform: translateX(100%) rotate(180deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateX(0) rotate(180deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes slideUp {
  0% {  transform: translateY(100%) rotate(270deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  50%{  clip-path: polygon(100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  100%{ transform: translateY(0) rotate(270deg);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
}
@keyframes dead {
  0% {  background-color: rgba(255, 217, 21, 1);
        clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  10%{  clip-path: polygon(100% 15%, 50% 50%, 100% 85%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  25%{  clip-path: polygon(75% 0, 50% 50%, 75% 100%, 100% 100%, 0% 100%, 0% 0%, 100% 0%);}
  75%{  background-color: rgba(255, 217, 21, 1);
        clip-path: polygon(10% 0, 50% 50%, 10% 100%, 0 100%, 0 100%, 0 0, 0 0);}
  100%{ background-color: rgba(255, 217, 21, 0);
        clip-path: polygon(0 50%, 50% 50%, 0 50%, 0 100%, 0 100%, 0 0, 0 0);}
}

@keyframes ghostSlideRight {
  0% {  transform: translateX(-100%);}
  100%{ transform: translateX(0);}
}
@keyframes ghostSlideDown {
  0% {  transform: translateY(-100%);}
  100%{ transform: translateY(0);}
}
@keyframes ghostSlideLeft {
  0% {  transform: translateX(100%);}
  100%{ transform: translateX(0);}
}
@keyframes ghostSlideUp {
  0% {  transform: translateY(100%);}
  100%{ transform: translateY(0);}
}

@media only screen and (max-width: 600px) {
  body{
    justify-content: flex-start;
  }

  header{
    width: 300px;
    height: 100px;
  }
  header p { font-size: 1em; }
  header h1 { font-size: 4em; }
  header h2 {
    font-size: 1em;
    left:40%;
    top:-30%;
  }

  header .pacman-title {
    width: 90px;
    height: 90px;
  }

  article.scoreboard {
    width: 300px;
    height: 40px;
    font-size: 1.3em;
    padding: 0 10px;
  }

  article.scoreboard div.grid-item,
  article.scoreboard div.grid-item:after {
    width: 20px;
    height: 20px;
  }

  article.grid{
    width: 90%;
    margin-bottom: 0;
  }

}

@media only screen and (max-width: 400px) {
  div.grid-item.big-pill i{
    font-size: 1.3em;
  }
}
